<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="BackupUtility.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <BackupUtility.Properties.Settings>
            <setting name="BackupDriveLetter" serializeAs="String">
                <value>J:</value>
            </setting>
            <setting name="BackupTime" serializeAs="String">
                <value>06:00:00</value>
            </setting>
            <setting name="IsUpgradeNeeded" serializeAs="String">
                <value>True</value>
            </setting>
        </BackupUtility.Properties.Settings>
    </userSettings>
</configuration>